#labguide {
    
    margin: 0 auto; 
    padding: 3.25rem 10em; 
    font-family: 'Open Sans Condensed', sans-serif; 
    font-weight: 300;
}

body {
    padding: 0; 
    max-width:100%;
}

md-toolbar.md-default-theme.md-hue-2:not(.md-menu-toolbar), md-toolbar.md-hue-2:not(.md-menu-toolbar) {
    background-image: url("../images/ocode-hp-top-bnr.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    background-color: #006E87;
    color: rgba(255,255,255,0.87);
}

td {
    border: 1px solid #D3D3D3;
    padding: 3px;
}

th {
    background-color: #EEEEEE;
    border: 1px solid #D3D3D3;
    padding: 3px;
}

table {
    border-spacing: 0;
}