/*Common CSS*/

html,
body {
    padding: 0;
    max-width: 100%;
}

td {
    border: 1px solid #D3D3D3;
    padding: 3px;
}

th {
    background-color: #EEEEEE;
    border: 1px solid #D3D3D3;
    padding: 3px;
}

table {
    border-spacing: 0;
}

img:not(.infra),
canvas:not(.infra),
iframe:not(.infra),
video:not(.infra),
select:not(.infra),
textarea:not(.infra) {
    display: block !important;
    margin: 0 auto !important;
}

.md-button.md-fab.md-fab-top-right {
    bottom: auto;
    right: 20px;
    top: 40px;
    left: auto;
    position: fixed;
}

.interactive-img {
    max-width: 100%;
    padding: 7px 1px 1px 1px;
}

.interactive-frame {
    border: none;
    width: 100%;
    height: 790px;
}

md-dialog.fullscreen-dialog {
    max-width: 100%;
    width: 90%;
    border-radius: 0;
}

md-toolbar.md-default-theme.md-hue-2:not(.md-menu-toolbar),
md-toolbar.md-hue-2:not(.md-menu-toolbar) {
    color: rgba(255, 255, 255, 0.87);
}

.menu-hamburger {
    padding: 4px 1px 1px 0px;
    height: 20px;
    width: 20px;
}

.float-right {
    float: right;
}

.mini-toolbar-tools {
    font-size: 10px;
    letter-spacing: .005em;
    box-sizing: border-box;
    font-weight: 400;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    width: 100%;
    height: 32px;
    max-height: 32px;
    padding: 0 8px;
    margin: 0;
}

.mini-toolbar {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    position: relative;
    z-index: 2;
    font-size: 10px;
    min-height: 32px;
    width: 100%;
}

.ttc md-toolbar.md-default-theme.md-hue-3:not(.md-menu-toolbar), .ttc md-toolbar.md-hue-3:not(.md-menu-toolbar) {
    background-repeat: no-repeat;
    background-position: center;
    background-color: #006E87;
}

/*DESKTOP SETTINGS*/

@media only screen and (min-width: 801px) {
    #labguide {
        margin: 0 auto;
        padding: 3.25rem 10em;
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: 300;
    }
}

@media only screen and (min-height: 830px) {
    md-dialog.fullscreen-dialog {
        height: 830px;
        max-height: 830px;
    }
}

@media only screen and (max-height: 829px) {
    md-dialog.fullscreen-dialog {
        height: 100%;
        max-height: 100%;
    }
}


/*PHONE AND TABLET SETTINGS*/

@media only screen and (max-width: 800px) {
    #labguide {
        margin: 0 auto;
        padding: 1rem;
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: 300;
    }
    h1:not(.infra),
    .modest-h1:not(.infra) {
        font-size: 1.5rem;
    }
    h2:not(.infra),
    .modest-h1:not(.infra) {
        font-size: 1.25rem;
    }
    h3:not(.infra),
    .modest-h1:not(.infra) {
        font-size: 1rem;
    }
    p:not(.infra),
    .modest-p:not(.infra) {
        font-size: .85rem;
        margin-bottom: 1rem;
        margin-left: 15px;
    }
}